.boot-img {
    display: block;
    margin: 250px auto 50px auto;
}

#boot-progress {
    display: block;
    margin: 0px auto;
    width: 300px;
    vertical-align: middle;
}

.booting {display: none;}

body {
    overflow: hidden;
    margin: 0;
    /* background-color: #000; */
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CBD5DE;
    padding: 0px 15px;
    color: #000;
}

.navbar_logo {
    padding-right: 0;
}

.navbar_menu {
    display: flex;
    padding-left: 0;
    padding: 5px;
}

.navbar_menu li {
    padding: 0px 12px;
}

.navbar_menu li:hover {
    background-color: #F0F1F2;
    border-radius: 2px;
}

#wallpaper {
    height: 1200px;
}